.Admin {
    min-height: 100%;
}

.admin-content .dropdown__icon {
    margin: 20px 20px 20px auto;
    position: relative;
}

.admin-content .dropdown__menu {
    right: 0px;
}

.admin__menu {
    display: none;
}

@media (min-width: 1600px) {

    .admin-content .dropdown__icon {
        display: none;
    }

    .admin__menu {
        width: 250px;
        height: 100vh;
        padding: 20px 10px;
        box-sizing: border-box;
        position: fixed;
        top: 0px;
        z-index: 10;
        display: block;
        background-color: #3098d9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .admin__menu a {
        padding: 10px;
        display: block;
        border-radius: 5px;
    }

    .active {
        background-color: #ffffff;
    }

}